@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,600;0,700;1,400;1,500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body  {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: rgb(202, 190, 190);
}

.header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 27px;
    text-align: center;
    position: relative;
}
.header .navigation ul li a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.jeans {
    text-align: center;
    margin-top: 46px;
}

.navigation {
    margin-bottom: 20px;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.navigation ul {
    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;
}

.header .navigation ul li a {
    font-size: 18px;
    color: black(0, 0, 0);
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover {
    background-color: rgb(72, 70, 69);
}

.containe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Puedes ajustar esto según tus necesidades */
}

.colum {
    flex: 0 0 24%; /* Puedes ajustar el porcentaje según tus necesidades */
    margin: 5px; /* Ajusta el margen según tus preferencias */
}

.colum img {
    width: 60%;
    height: auto;
    border-radius: 8px; /* Puedes agregar bordes redondeados si lo deseas */
}

/* Agrega otros estilos según sea necesario */
