@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,600;0,700;1,400;1,500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body  {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    background-color:rgb(255, 253, 250);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgb(0, 0, 0);
    padding: 0px 10%; /agrandar/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    font-weight: 700;
}

.navigation ul{
    list-style: none ;
}

.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover {
    background-color:rgb(86, 86, 86); /cambiar color/
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color:rgb(104, 91, 91);
    display: none
}

.header .navigation ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;

}

.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li{
    width: 100%;
}

.header .navigation ul li:hover > ul { 
    display: initial;
}
#toggle,
.header label{
    display: none;
    cursor: pointer;
}

.menu{
    width: 45px;
    height: 35px;
}

@media(max-width:950px) {
    .header label {
        display: initial;
    }
    .header{
        padding: 20px 10%;
    }
 
    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:rgb(1, 1, 1);
        display: none;
    }
    
    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a{
        padding: 8px 30px 8px 10% ;
    }

    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left: 0; 
    }

    .header .navigation ul li ul li{
        background-color:rgb(7, 7, 7);

    }

    .header .navigation ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;

    }

    #toggle:checked ~ .navigation {
        display: block;
    }
}    
    .niña {
        min-height: 100vh;
        background-image: url("img/niñasht.jpg");
        background-position: center center ;
        background-repeat: no-repeat;
        background-size: cover;
    }